<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

      <div class="container-fluid" style="background: mediumpurple">

        <h2 align="center" th:text="#{home}">Home</h2>

        <div class="row">
            <div align="center" class="col-md-12">
                <img class="img-responsive" src="../static/resources/images/dis%20guy.png" th:src="@{/resources/images/dis%20guy.png}"/>
            </div>
        </div>

          <div class="container">

              <div class="column-block">
                  Add Owners
              </div>

              <div class="column-block">
                  Add Pet Information
              </div>

              <div class="column-block">
                  Schedule and Record Visits
              </div>

          </div>

      </div>

  </body>

</html>
